  
/* värikoodit: 
tumma sini: #144673 
muted sini: #88A5BF
turkoosi: #04BFBF
vaalee turkoosi: #7ED9D9 
vaalee harmaa: #F2F2F2 */  

* {
    box-sizing: border-box;
  }

body{
    font-family: 'Rubik', sans-serif;
    width: 100% ;
}

.container, .row {
    padding: 0;
    margin: 0;
}

.container-fluid{
    width: 100%; 
    padding: 0%;
    margin: 0%;
}
    
.navbar-nav {
    padding-left: 0;
    }

.nav-item {
    margin: 0.1em;
    font-size: 1.2em;
}

@media (max-width:992px){
    .nav-link {
        text-align: center;
        padding: 0 !important;
        font-size: 1.3em;
        border-radius: 0 !important;
    }

    .dropdown {
        font-size: 1.3em;
        color: black;
        border-radius: 0 !important;

    }

    .dropbtn {
        width: 100%;
        border-radius: 0 !important;
    }

    .dropdown-content {
        position: relative !important;
        margin-top: 0 !important;
        border-radius: 0 !important;
    }

    .dropdown-content a {
        padding: 0 !important;
        text-align: center !important;
        border-radius: 0 !important;
    }

    .bubble:after {
        display: none;
    }
}
        
.navbar .navbar-nav .nav-link {
    font-weight: 700;  
    color: black;
    text-decoration: none;
    padding: 0.6em 0.3em 0.6em 0.3em;
    border-radius: 0.5em;
    }
             
.navbar .navbar-nav .nav-link:hover{
    background-color: #00b6c5;
    text-decoration: underline;
    color: white;
    border-radius: 0.5em;
    }

                /*alasvetovalikko klikkaamalla */
                .dropbtn {
                    background-color: transparent !important;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: black;
                    text-decoration: none;
                    border: none;
                }
                
                .dropbtn:hover {
                    background-color: #00b6c5 !important;
                    text-decoration: underline !important;
                    color: white !important;
                }
                
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    background-color: #144279;
                    margin-top: 15px;
                    padding: 0.6em;
                    border-radius: 0.8em;
                    display: none;
                    position: absolute;
                    z-index: 1;
                }
                
                .dropdown-content a {
                    text-align:start;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: white;
                    padding: 0.6em;
                    border-radius: 0.8em;
                    text-decoration: none;
                    display: block;
                }
                
                .dropdown a:hover {
                    background-color: #00b6c5;
                    text-decoration: underline;
                    color: white;
                }

                /* js lisää tämän luokan ja alasvetovalikko tulee näkyviin klikattaessa */
                .show {
                    display: block !important;
                    }

                                        /* alasvetovalikko näkyviin kun hiiri on päällä */  
                                        .dropdown-menu {
                                            background-color: #144279;
                                            margin-top: 15px;
                                            padding: 1em;
                                            border-radius: 0.8em;
                                            }

                                        .dropdown .dropdown-menu {
                                            display: none;
                                            }

                                        .dropdown:hover .dropdown-menu {
                                            display: block;
                                            } 

                                        .dropdown-toggle {   
                                            background-color: transparent !important;
                                            font-weight: 700;
                                            color: black;
                                            text-decoration: none;
                                            border: none;
                                        }

                                        .dropdown-toggle:hover {
                                            background-color: #00b6c5 !important;
                                            text-decoration: underline !important;
                                            color: white !important;
                                        }
                                        
                                        .dropdown-item {
                                            font-weight: 700;
                                            font-size: 1.2em;
                                            color: white;
                                            text-decoration: none;
                                            border-radius: 0.5em;
                                            text-align:start;
                                            }

/* nuoli alasvetovalikkoon laatikon päälle */    
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 25px 0;
    border-color: #144279 transparent;
    top: -15px;
    left: 35px;
    rotate: 180deg;
    }
        
/* kehys pois hampurilaisesta */
.navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
    }
        
/* hampurilaisen muotoilua */    
.navbar-toggler-icon {
    background-color: #00b6c5;
    padding: 1.4em;
    margin-right: 0.2em;
    border-radius: 0.5em;
    }
        
.logo {
    width: 200px;
    height: 200px;
    }
    

.container{
    width: 100%;
    padding: 0%;
    margin: 0%;
} 
     
.ylapalkki {
    width: 100%;
    height: auto;
    background-color: #144673;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    box-sizing: content-box;
    position: relative;
}

.mini {
    width: 20px;
    height: 20px;
    padding: 0%;
    margin: 0%;
}

.minikuva1 {
    margin-left: 3em;
}

.minikuva{
    width: auto;
    height: 16px;
    padding: 0%;
    margin-right: 0.5em;
}

#tyontekijan_tilanne_button {
    margin-right: 70px;
    position: fixed;
}

.ylapalkki a {
    color: inherit!important; 
    text-decoration: none!important; 
}

.ylapalkki a:hover,
.ylapalkki a:focus {
    color: inherit!important;; 
    outline: none!important; 
}

@media (max-width:991px){
    .minikuva{margin-left: 2em;}

    .minikuva1 {
        margin-left: 0;
    }
}


/* #btn_ylos { ---------------nappi rikki
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: solid  white 0.2em;
    outline: none;
    background-color: #144673;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 35%;
    font-size: 18px;
}

#btn_ylos:hover {
    background-color: #04BFBF;
} */


/*index sivun sisällön säädöt*/

 .btn1 {
    background-color: #04BFBF;
    color: white;
    border-color: #04BFBF;
    font-family: 'Rubik', sans-serif;
    margin: 0.6em;
    border: solid  #04BFBF 0.2em;
}

.btn1:hover {
    border: solid  white 0.2em;
    background-color: #04BFBF;
} 

.vali{
    height: 40px;
}

#kontentti {
    background-color: #F2F2F2;
    width: 100%;
}

.kontentti {
    background-color: #F2F2F2;
    width: 100%;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #144279;
    padding: auto;
}


.repair4 {
    border-radius: 5em;
    border: solid white 0.5em;
    margin: 0.5em;
    height: auto;
    width: 500px;
} 

.esittelytausta {
    padding: 3em; 
    border-radius: 0.8em; 
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-right: 30px;
    margin: 0px;
}

.esittely {
    font-family: 'Poppins', sans-serif;
    padding-top: 3em;
    background-color: #F2F2F2; 
    margin: 0px;
}



p {
    font-family: 'Poppins', sans-serif;
}

.kommentti {
    background-color: #144673;
    padding: 0; 
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 0;
}    

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: white;
    padding: auto;
    text-align: center;
}


.yhteystiedot {
    background-color: #144279;
    height: auto;
    padding: 3em;  
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px;
}

.yhteystiedot p {
    font-family: 'Poppins', sans-serif;
  }

.repair2 {
    border-radius: 1em;
    width: auto;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: solid white 0.5em;
}

/*kartta*/

.sijaintikartalla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    border: solid 4px white;
    border-width: 12px 0px;
    margin: 0.5em 3em 3em 3em;
    background-color: white;
}



/*footer säädöt*/
#footer {
    background-color: #144673;
    padding: 2em;
    color: white;
    text-align: center;
    width: auto;
    font-family: 'Poppins', sans-serif;
    }

.logo2 {
    width: 130px;
    height: auto;
    padding: 0%;
    margin: 5px;
    }
    
.luotettava {
    width: 180px;
    height: auto;
    padding: 0%;
    margin: 5px;
    }



/*otayhteyttä sivun säädöt*/

.connect_tausta { 
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    width: 100%; /*muutin 10.5.2023 rikkoko jotain???? jenny*/
    font-family: 'Poppins', sans-serif;
    }

#taustakuva1 {
    background: url(../img/helsinki13.jpg);
    background-size: cover;
    width: 100%;
}

.helsinki13 {
    width: auto;
    height: auto;
    padding: 0%;
}

.container1 {
    width: 100%;
  }
  
.lomake_tausta {
    padding: 8em 8em 8em 8em;
    background-color: rgba(20, 70, 115, 0.8);
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
}
  
@media screen and (max-width: 768px) {
    .lomake_tausta {
      padding: 2em 2em 2em 2em;
    }
  }
  
.kommentti2 , .kommentti3 {
    background-color: white;
    padding: 0; 
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 0;
}

.kommentti4{
    font-size: large;
}

/*yhteystiedot, referenssit ja palvelut sivun säädöt*/

.container2 {
    width: 100%;
    height: auto;
    padding: 4em;
    background-color: #F2F2F2;
}

.tyontekijat img {
    width: 300px;
    height: auto;
    border-radius: 4em; 
    border: solid white 0.5em;
}

/*kirjautumisten säädöt*/

.container3 {
    width: 100%;
    height: 500px;
    padding: 0px;
}

.lomake_tausta2 {
    padding: 8em;
    background-color: rgba(20, 70, 115, 0.8);
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:700px){
    .container3 {
        height: auto;
    }

    .lomake_tausta2 {
        padding: 4em 2em 4em 2em;
    }
}

#taustakuva2 {
    background: url(../img/helsinki141.jpg);
    background-size: cover;
    width: 100%;
}


#taustakuva3 {
    background: url(../img/helsinki141.jpg);
    background-size: cover;
    width: 100%;
}

/* vikailmoitus sivut */

.header_vika{
    color: white;
    padding: 3em 0 1em 0 !important;
    margin: 0 !important;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.lomake_vika {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 5em 0;
    background-color: rgba(20, 70, 115, 0.8);
}

@media (max-width:640px){
    .lomake_vika {
        flex-direction: column;
    }}

#vika{
    max-width: 30em;
    min-height: 7em;
    justify-self: center;
}

#avain{
    border-radius: 5px;
}

.rounded-select {
    border-radius: 7px; /* avainvalikon reunojen pyöristys jne */
}

.rounded-input {
    border-radius: 7px;
}

.rounded-textarea {
    border-radius: 7px;
}

.kommentti5 {
    background-color: white;
    color: #04BFBF;
}

/* Toimiston näkymä */

.table-vika {
    max-width: 90%;
}

.table-vika th{
    color: white !important;
}

.table-vika td{
    color: white !important;
}

.viimeinen {
    margin-right: 3em;
}

.nappi {
    text-decoration: none;
    color: white;
    border-color: #04BFBF;
    background-color: #04BFBF;
    
}

.nappi:hover{
    text-decoration: none;
    color: white;
    border-color: #03b0b0;
    background-color: #03b0b0;
}

.napit_kayttaja {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 2em 0;
    background-color: rgba(20, 70, 115, 0.8);
    flex-direction: row;
    flex-wrap: wrap;
}

  
/* Huollon näkymä */

/* .lomake_tausta3 {
    padding: 0;
    background-color: #88A5BF;
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
} */
.avoimet_tiketit {
    padding: 1em;
}

.container5 {
    width: 100%;
    height: auto;
    padding: 0px;
}

.container5 th, .container5 td {
    color: white!important;
}

.btn2 {
    color: white!important;
    font-weight: bold;
} 

.huolto_taulu {
    padding: 2em;
}

ul {
    list-style-type: none;
  }

.container6 {
    width: 1200px;
    background-color: #144673;
    height: auto;
    padding: 2em;
    border-radius: 40px;
    border: solid 20px #F2F2F2;
}

.container7 {
    width: 450px;
    background-color: #144673;
    height: auto;
    padding: 2em;
    border-radius: 40px;
    border: solid 20px #F2F2F2;
    margin: 0 50px 50px 50px;
}

.otsikko {
    font-weight: bold;
    padding: 3em;
}

.container8 {
    width: auto;
    background-color: #144673;
    height: auto;
    padding: 2em;
    border-radius: 40px;
    border: solid 20px #F2F2F2;
}

/* @media (max-width:1200px){
.viimeinen {
    margin-right: 0 !important;
}}

@media (max-width:890px){
.table-yhteys{
    transform: scale(0.8);
    max-width: 100%;
    height: 100%;
}}

@media (max-width:690px){
    .table-yhteys{
        transform: scale(0.6);
    }}

    @media (max-width:540px){
        .table-yhteys{
            transform: scale(0.5);
        }}

    @media (max-width:440px){
        .table-yhteys{
            transform: scale(0.4);
        }}   */


/* ota yhteytta -> insert sivun näkymä */

.container4 {
    width: 100%;
    height: 500px;
    padding: 200px;
    background-color: #F2F2F2;
    text-align: center;
}

/*scrollauskaaos*/

html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}


/*lisää asukas lomakkeen säädöt*/

.input_label {
    display: inline-block;
    width: 200px; 
    text-align: right;
    margin-right: 20px;
  }

#taustakuva4 {
    background: url(../img/helsinki11.jpg);
    background-size: cover;
    width: 100%;
}


/* muokkaa tehtävää säädöt*/

.lomake_tehtava{
    width: 100%;
}

.lomake_tausta_tehtava {
    padding: 2em 0 2em 0;
    background-color: rgba(20, 70, 115, 0.8);
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.kuvaus {
    min-width: 12em;
    min-height: 10em;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

input:disabled {
    background-color: white !important;
    color: black !important;
}

textarea:disabled {
    background-color: white !important;
    color: black !important;
}

.leveys-select {
    min-width: 15em;
}