  
/* värikoodit: 
tumma sini: #144673 
muted sini: #88A5BF
turkoosi: #04BFBF
vaalee turkoosi: #7ED9D9 
vaalee harmaa: #F2F2F2 */  

body{
    font-family: 'Rubik', sans-serif;
    width: 100% ;
}

.container-fluid{
    width: 100%; 
    padding: 0%;
}
    
.navbar-nav {
    padding-left: 0;
    }

.nav-item {
    margin: 0.1em;
    font-size: 1.2em;

}
        
.navbar .navbar-nav .nav-link {
    font-weight: 700;  
    color: black;
    text-decoration: none;
    padding: 0.6em 0,3em 0.6em 0,3em;
    border-radius: 0.5em;
    }
        
.dropdown-item {
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    text-decoration: none;

    border-radius: 0.5em;

    }
        
.navbar .navbar-nav .nav-link:hover{
    background-color: #00b6c5;
    text-decoration: underline;
    color: white;
    border-radius: 0.5em;
    }
        
.dropdown-item:hover{
    background-color: #00b6c5;
    text-decoration: underline;
    color: white;
    }

.dropdown-toggle:hover{
    background-color: #00b6c5 !important;
    text-decoration: underline !important;
    color: white !important;
}
        
.dropdown-menu {
    background-color: #144279;
    margin-top: 15px;
    padding: 1em;
    border-radius: 0.8em;
    }

.dropdown .dropdown-menu {
    display: none;
    }

/* alasvetovalikko näkyviin kun hiiri on päällä ja tämä pois jos haluaa klikkauksen päälle*/  
/* .dropdown:hover .dropdown-menu {
    display: block;
    } */
   
/* js lisää tämän luokan ja alasvetovalikko tulee näkyviin klikattaessa */
.show {
    display: block !important;
    }

/* alasvetovalikko näkyviin kun hiiri on päällä */    
.dropdown-toggle {   
    background-color: transparent !important;
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    text-decoration: none;
    border: none;
}

/* nuoli pois alasveto laatikota*/

        
/* kehys pois hampurilaisesta */
.navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
    }
        
/* hampurilaisen muotoilua */    
.navbar-toggler-icon {
    background-color: #00b6c5;
    padding: 1.4em;
    margin-right: 0.2em;
    }
                
.dropdown-item {
    text-align:start;
    }
        
.logo {
    width: 200px;
    height: 200px;
    }
     
/* nuoli alasvetovalikkoon laatikon päälle */    
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 25px 0;
    border-color: #144279 transparent;
    top: -15px;
    left: 35px;
    rotate: 180deg;
     }

/* jennyn setit */
.container{
    width: 100%;
    padding: 0%;
    margin: 0%;
} 
     
.ylapalkki {
    /* width: auto; */
    height: auto;
    background-color: #144673;
    padding: 0.5em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mini {
    width: 20px;
    height: 20px;
    padding: 0%;
    margin: 0%;
}

.minikuva{
    width: auto;
    height: 16px;
    padding: 0%;
    margin-right: 0.5em;
}

.minikuva1 {
    margin-left: 10px;
}

#btn_ylos {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #144673;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

#btn_ylos:hover {
    background-color: #04BFBF;
}


/*sivun sisällön säädöt*/

/* .btn1 {
    background-color: #04BFBF;
    color: white;
    border-color: #04BFBF;
    font-family: 'Rubik', sans-serif;
    margin: 0.6em;
}

.btn1:hover {
    background-color: #7ED9D9;
    border-color: #7ED9D9;
} */

.vali{
    height: 40px;
}

#kontentti {
    background-color: #F2F2F2;
    padding: 1em;
    width: 100%;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #144279;
    padding: auto;
}

 img {
    padding: 0.8em;
}

.repair4 {
    border-radius: 1em;
} 

.esittelytausta {
    background-color: #7ED9D9;
    padding: 3em; 
    border-radius: 0.8em; 
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.esittely {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 3em;
}


.kommentti {
    background-color: #144279;
    padding: 0; 
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 0;
}    

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: white;
    padding: auto;
    text-align: center;
}


/*kartta*/
.sijaintikartalla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    border: solid 4px white;
    border-width: 12px 0px;
    margin: 0.5em 3em 3em 3em;
    background-color: white;
}



/*väliaikanen footer*/
#footer {
    background-color: #144673;
    padding: 2em;
    color: white;
    text-align: center;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }